/Debug/
/Release/
/.vs/
/test_finger/Debug/
/test_finger/Release/
/test_finger/collectedImage/
/test_finger/_collectedImage/
/test_finger/collectedBGI/
*.txt
*.rar
/test_finger/collectedTempImage
/test_finger/config